body {
  margin: 0px;
  padding: 0px;
  background: radial-gradient(ellipse at bottom, #0d1b2a 0%, #000000 100%);
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
}

#tituloEspacio {
  text-align: center;
  font-size: 48px;
  margin: 20px 0px;
  color: #00ffff;
  text-shadow: 0px 0px 10px #00ffff;
}

.caja {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #00ffff;
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0px 0px 20px #00ffff33;
}

#titulo,
#tituloFecha,#tituloAleatorio {
  font-size: 32px;
  color: #ffcc00;
  text-shadow: 0px 0px 5px #ffcc00;
}

img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #ffffff33;
}

button {
  background-color: #00ffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px #00ffff;
}

button:hover {
  background-color: #1bb2b2;
  transition: all 0.2s;
}

input[type="date"] {
  background-color: #222222;
  color: #ffffff;
  border: 1px solid #00ffff;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="date"]:hover {
  background-color: #1bb2b2;
  transition: all 0.2s;
}

#DescripcionAleatorio {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #00ffff;
  border-radius: 8px;
  font-size: 17.6px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #ffffff22;
  box-shadow: 0px 0px 10px #00ffff33;
  font-family: 'Orbitron', sans-serif;
}

#Descripcion {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #00ffff;
  border-radius: 8px;
  font-size: 17.6px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #ffffff22;
  box-shadow: 0px 0px 10px #00ffff33;
  font-family: 'Orbitron', sans-serif;
}

#DescripcionFecha {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #00ffff;
  border-radius: 8px;
  font-size: 17.6px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #ffffff22;
  box-shadow: 0px 0px 10px #00ffff33;
  font-family: 'Orbitron', sans-serif;
}

#Autor {
  margin-top: 10px;
  font-size: 17.6px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #ffffff22;
}

#AutorAleatorio {
  margin-top: 10px;
  font-size: 17.6px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #ffffff22;
}

#AutorFecha {
  margin-top: 10px;
  font-size: 17.6px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #ffffff22;
}

#año {
  margin-top: 10px;
  font-size: 17.6px;
  color: #cccccc;
  text-shadow: 0px 0px 5px #ffffff22;
}

